{% extends 'base.html.twig' %}

{% block title %}Moviz{% endblock %}

{% block body %}
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
            <div class="col-10 col-sm-8 col-lg-6"> 
                <img class="d-block mx-lg-auto img-fluid" src="{{ asset('build/images/logo-moviz.png')}}" alt="Logo Moviz" width="400">
            </div> 
            <div class="col-lg-6"> 
                <h1 class="display-5 fw-bold text-primary lh-1 mb-3">Bienvenue sur Moviz, le cinéma vu par vous</h1> 
                <p class="lead">Chaque film mérite plus qu’une note : il mérite votre avis.
                Partagez vos coups de cœur (ou vos flops), notez les dernières sorties et découvrez ce que pense la communauté.
                Thriller haletant, comédie romantique ou drame à couper le souffle : ici, chaque genre a sa place.</p> 
            </div> 
        </div> 
    <h2>Les derniers films ajoutés</h2>
    <div class="row text-center">
        {% for movie in movies %}
            {% include 'partials/movie/_movie_bloc.html.twig' %}
        {% else %}
            <p>No movies found.</p>
        {% endfor %}
    </div>
{% endblock %}
