{% extends 'base.html.twig' %}

{% block title %}Tous les films!{% endblock %}

{% block body %}

<div class="row text-center">
    {% for movie in movies %}
        {% include 'partials/movie/_movie_bloc.html.twig' %}
    {% else %}
        <p>No movies found.</p>
    {% endfor %}
</div>



{% endblock %}
