// ⚠️ À compiler UNIQUEMENT via npm run watch (Webpack Encore)
// customize some Bootstrap variables
$primary: darken(#09b468, 15%);
$secondary: #323b3c;
$white: #f0f0f0;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #1e1e1e;
  color: $white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

// buttons
.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
    }
}

.card, .container, .form-control, .form-select {
    background-color: #2a2a2a;
    color: #f0f0f0;
    border: 1px solid #444;
}

img {
  max-width: 100%;
  height: auto;
}

// Links
/* a {
    color: lighten($primary, 10%);
    &:hover {
        color: lighten($primary, 20%);
    }
} */

//Affichage des critiques avec style étoile
.rate {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    gap: 0.2em;
    margin-top: 0.5rem;
}

.rate input[type="radio"] {
    display: none;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:2rem;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate.enabled:not(:checked) > label:hover,
.rate.enabled:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate.enabled > input:checked + label:hover,
.rate.enabled > input:checked + label:hover ~ label,
.rate.enabled > input:checked ~ label:hover,
.rate.enabled > input:checked ~ label:hover ~ label,
.rate.enabled > label:hover ~ input:checked ~ label {
    color: #c59b08;
}